<main class="main">
  <div class="container">
    <header class="header">
      <div class="header-content">
        <div class="header__logo">
          <img class="logo_w" src="/assets/img/logo-w.svg" alt="">
          <img src="/assets/img/logo-main.svg" alt="">
        </div>
        <div class="header-nav">
          <a class="nav__link" href="#">Ходокам</a>
          <a class="nav__link" href="#">Рекламодателям</a>
          <a class="nav__link" href="#">Партнерам</a>
          <a class="nav__link" href="#">Контакты</a>
        </div>
        <a class="link-entry header__link-entry" href="#">Войти</a>
        <div class="selection-language" (click)="isOpenLangMenu = !isOpenLangMenu" [class.open]="isOpenLangMenu">
          <img class="select-icon" src="/assets/img/select-arrow.png" alt="">
          <div class="select-value">
            <img class="img1" src="/assets/img/en.svg" alt="">
            <span>EN</span>
          </div>
          <ul class="select-menu">
            <li class="select-option">
              <img src="/assets/img/en.svg" alt="">
              <span>EN</span>
            </li>
            <li class="select-option">
              <img src="/assets/img/en.svg" alt="">
              <span>EN</span>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="advertising__backpacks">
      <div class="flex container">
        <div class="advertising__backpacks-info">
          <div class="info__title">
            Реклама на рюкзаках с экраном
          </div>
          <div class="info__subtitle">
            Waadsu объединяет рекламодателей и городских жителей
            Рекламодатель привлекает новых клиентов в потоке людей
            Городской житель зарабатывает, передвигаясь по городу
          </div>
          <div class="info__btns">
            <button class="launch-ad__btn">Запустить рекламу</button>
            <button class="start-earning__btn">Начать зарабатывать</button>
          </div>
        </div>
        <div class="advertising__backpacks-img">
          <img class="backpacks-img" src="./assets/img/advertising__backpacks-img.png" alt="">
          <div class="img-play">
            <img src="/assets/img/Play.svg" alt="">
          </div>
          <div class="advertising__backpacks__after"></div>
        </div>
      </div>
    </div>
  </div>
</main>
<section class="advertising__WAADSU">
  <div class="container">
    <div class="advertising__WAADSU-title">Реклама в WAADSU — это</div>
    <div class="advertising__WAADSU-item__content">
      <div class="advertising__WAADSU-item">
        <div class="advertising__item-logo">
          <img src="/assets/img/rocket-logo.svg" alt="">
        </div>
        <div class="advertising__item-title">Скорость запуска</div>
        <div class="advertising__item-subtitle">
          Достаточно нескольких минут, чтобы реклама по
          заданным вами параметрам попала на улицы городов
        </div>
      </div>
      <div class="advertising__WAADSU-item">
        <div class="advertising__item-logo">
          <div>
            <img src="/assets/img/building-logo.svg" alt="">
          </div>
        </div>
        <div class="advertising__item-title">Показы в центре города</div>
        <div class="advertising__item-subtitle">
          Вы сами выбираете локации с наибольшим скоплением
          целевой аудитории для трансляции рекламы
        </div>
      </div>
      <div class="advertising__WAADSU-item">
        <div class="advertising__item-logo">
          <img src="/assets/img/money-logo.svg" alt="">
        </div>
        <div class="advertising__item-title">от 3₽ за минуту показа</div>
        <div class="advertising__item-subtitle">
          В некоторых локациях за минуту показа один рюкзак
          может иметь до 110 контактов с вашим потенциальным клиентом
        </div>
      </div>
    </div>
  </div>
</section>
<section class="advertiser">
  <div class="container">
    <div class="advertiser__title">Рекламодатель</div>
    <div class="advertiser__info">
      <div class="advertiser__subtitle">
        Исследование в метро города Москвы — средний пассажиропоток в рабочий
        день составляет 69 600 показов в самые эффективные часы
      </div>
      <div class="advertiser-text">
        Это совершенно новый канал рекламы. Ходок заинтересован в ее эффективности, так как это его заработок
      </div>
    </div>
    <div class="score">
      <div class="score__item">
        <div class="score__title">58000+</div>
        <div class="score__subtitle">OTS =</div>
      </div>
      <div class="score__item">
        <div class="score__title">~40%</div>
        <div class="score__subtitle">GRP =</div>
      </div>
      <div class="score__item">
        <div class="score__title">30₽ за 1000</div>
        <div class="score__subtitle">CTP</div>
      </div>
    </div>
    <div class="slider">
      <ng-image-slider #nav [images]="imageObject"
                       [infinite]="false"
                       [autoSlide]="1"
                       [imageSize]="{width: '45%', height: 320}"
                       slideImage="1">

      </ng-image-slider>
    </div>
  </div>
</section>
<section class="attachment">
  <div class="flex container">
    <div class="attachment-content">
      <div class="man">
        <img class="man-logo" src="/assets/img/man.svg" alt="">
      </div>
      <div class="phone">
        <img src="/assets/img/phone.svg" alt="">
      </div>
      <div class="story">
        <div class="google-play">
          <img src="/assets/img/google-play.svg" alt="">
        </div>
        <div>
          <img src="/assets/img/app-store.png" alt="">
        </div>
      </div>
    </div>
    <div class="earn">
      <div class="points-icon">
        <img src="/assets/img/points.svg" alt="">
      </div>
      <div class="ovals-content">
        <img class="ovals" src="/assets/img/ovals.svg" alt="">
      </div>
      <div class="earn-content">
        <div class="earn-title">Зарабатывай</div>
        <div class="earn-subtitle">Подключи рюкзак и ходи.</div>
        <div class="earn-text">Пассивный доход до <strong>1900₽</strong> в день — здесь ты сам решаешь, когда и сколько
          работаешь
        </div>
      </div>
    </div>
  </div>
</section>
<section class="question">
  <div class="flex container">
    <div class="questions">
      <div class="questions-content">
        <div class="questions-title">Остались вопросы?</div>
        <div class="questions-subtitle">Заполни форму, и мы обязательно с тобой свяжемся</div>
      </div>
      <div>
        <img class="img-group" src="/assets/img/Group.svg" alt="">
      </div>
    </div>
    <div class="forms">
      <div class="forms-content">
        <label for="email">Электронная почта</label>
        <div class="email">
          <input class="form-input" type="text" id="email">
        </div>
        <label for="phone-number">Номер телефона</label>
        <div class="phone-number">
          <input class="form-input" type="text" id="phone-number">
        </div>
        <label for="category">Категория</label>
        <div class="category">
          <input class="form-input" type="text" id="category">
        </div>
        <label for="question">Задать вопрос</label>
        <div>
          <textarea class="form-textarea form-input" id="question"></textarea>
        </div>
        <button class="form-btn">Отправить</button>
      </div>
      <div>
        <img class="img-right" src="/assets/img/Group2.svg" alt="">
      </div>
    </div>
  </div>
</section>
<footer class="footer section">
  <div class="container">
    <div class="footer__row">
      <div class="footer__column footer__column_first">
        <div class="footer-logo footer__logo">
          <img src="/assets/img/footer_logo.png" alt="">
        </div>
        <div class="footer-info footer__footer-info">
          <p>Россия, Москва</p>
          <p>тел: +7 (977) 781-43-90</p>
          <a class="socials" href="#"><img src="/assets/img/instagramm.svg" alt=""></a>
          <a class="socials" href="#"><img src="/assets/img/facebook.svg" alt=""></a>
          <a class="socials" href="#"><img src="/assets/img/vk.svg" alt=""></a>
          <a class="socials" href="#"><img src="/assets/img/youtube.svg" alt=""></a>
          <a class="socials" href="#"><img src="/assets/img/telegramm.svg" alt=""></a>
          <a href="#"><img src="/assets/img/watsapp.svg" alt=""></a>
        </div>
      </div>
      <div class="footer__column footer__column_second">
        <div class="footer__column-header">Изучи</div>
        <ul class="footer-menu footer__footer-menu">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">О нас</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Контакты</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Форум</a>
          </li>
        </ul>
      </div>
      <div class="footer__column footer__column_three">
        <div class="footer__column-header">Документы</div>
        <ul class="footer-menu footer__footer-menu">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Сертификаты</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Политика</a>
          </li>
        </ul>
      </div>
      <div class="footer__column footer__column_four">
        <div class="footer__column-header">Подпишись</div>
        <div class="subscribe footer__subscribe">
          <div class="subscribe__text">
            В нашем телеграм-канале
            все актуальные новости
          </div>
          <div class="subscribe-form">
            <input class="subscribe-form__input" type="email" name="email" placeholder="Enter email Address">
            <input class="subscribe-form__submit" type="submit" value="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--<app-advertiser></app-advertiser>-->
<!--<app-video-instruction></app-video-instruction>-->
<!--<app-led-backpack></app-led-backpack>-->
<!--<app-earn></app-earn>-->
