<main class="main">
  <div class="container">
    <header class="header">
      <div class="header-content">
        <div class="header__logo">
          <img class="logo_w" src="./assets/img/logo-w.svg" alt="">
          <img src="./assets/img/logo-main.svg" alt="">
        </div>
        <div class="header-nav">
          <a class="nav__link" href="#">Ходокам</a>
          <a class="nav__link" href="#">Рекламодателям</a>
          <a class="nav__link" href="#">Партнерам</a>
          <a class="nav__link" href="#">Контакты</a>
        </div>
        <a class="link-entry header__link-entry" href="#">Войти</a>
        <div class="selection-language" (click)="isOpenLangMenu = !isOpenLangMenu" [class.open]="isOpenLangMenu">
          <img class="select-icon" src="./assets/img/select-arrow.png" alt="">
          <div class="select-value">
            <img class="img1" src="./assets/img/en.svg" alt="">
            <span>EN</span>
          </div>
          <ul class="select-menu">
            <li class="select-option">
              <img src="./assets/img/en.svg" alt="">
              <span>EN</span>
            </li>
            <li class="select-option">
              <img src="./assets/img/en.svg" alt="">
              <span>EN</span>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="earn">
      <div class="flex container">
        <div class="earn-info">
          <div class="info__title">
            Зарабатывай, показывая рекламу на своём рюкзаке с LED-экраном
          </div>
          <div class="info__subtitle">
            Зарабатывай с WAADSU до 2 000 ₽ в день*
            Подключай друзей к платформе и получай бонусы*
          </div>
          <div class="info__btns">
            <button class="launch-ad__btn">Запустить рекламу</button>
<!--            <button class="start-earning__btn">Начать зарабатывать</button>-->
          </div>
          <div class="earn-content">
            <div class="earn-title">Как начать зарабатывать </div>
            <div class="earn-block">
              <div class="earn-item">
                <div class="item-numbering">
                  <img class="number" src="./assets/img/one.svg" alt="">
                </div>
                <div class="item-title"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="advertising__backpacks-img">
          <img class="backpacks-img" src="./assets/img/advertising__backpacks-img.png" alt="">
          <div class="img-play">
            <img src="./assets/img/Play.svg" alt="">
          </div>
          <div class="advertising__backpacks__after"></div>
        </div>
      </div>
    </div>
  </div>
</main>
<section class="workers">
  <div class="container">
    <div class="workers-title">Кто сколько зарабатывает?</div>
    <div class="workers-content">
      <div class="workers-item">
        <div class="workers-img">
          <img class="courier" src="./assets/img/courier.png" alt="">
        </div>
        <div class="workers-name">Пеший курьер</div>
        <div class="workers-sum">до 1900₽</div>
      </div>
      <div class="workers-item">
        <div class="workers-img">
          <img class="student" src="./assets/img/student.png" alt="">
        </div>
        <div class="workers-name">Студент</div>
        <div class="workers-sum">до 1050₽</div>
      </div>
      <div class="workers-item">
        <div class="workers-img">
          <img class="freelancer" src="./assets/img/freelancer.png" alt="">
        </div>
        <div class="workers-name">Фрилансер</div>
        <div class="workers-sum">до 900₽</div>
      </div>
      <div class="workers-item">
        <div class="workers-img">
          <img class="schoolboy" src="./assets/img/schoolboy.png" alt="">
        </div>
        <div class="workers-name">Школьник</div>
        <div class="workers-sum">до 350₽</div>
      </div>
      <div class="workers-item">
        <div class="workers-img">
          <img class="promoter" src="./assets/img/promoter.png" alt="">
        </div>
        <div class="workers-name">Промоутер</div>
        <div class="workers-sum">до 1900₽</div>
      </div>
      <div class="workers-item">
        <button class="other">Прочие</button>
      </div>

    </div>
  </div>
</section>
